@use "../utils" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: rem(40);
  max-width: rem(1000);
  margin: 0 auto;
  padding: 0 rem(20);

  @include breakpoint(lg) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: rem(40);
  }

  &__main {
    background-color: hsl(240, 90%, 39%);

    @include breakpoint(md) {
      background-color: hsl(120, 93%, 18%);
    }

    @include breakpoint(lg) {
      background-color: hsl(39, 88%, 39%);
    }
  }

  &__sidebar {
    text-align: center;
  }

  &__widget {
    background-color: hsl(300, 89%, 41%);
    padding: rem(16);

    &--green {
      @extend .grid__widget;
      background-color: hsl(120, 87%, 27%);
    }
  }
}
